body {
    background-color: rgb(240, 230, 130);
  }
  
  h1 {
    color: black;
    text-align: center; /* De kleur en de plaats van mijn titel */
  }
  
  p {
    font-family: verdana;
    font-size: 20px; /* De groote en stijl van mijn teksten */
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
  } /* Hiermee zorg ik ervoor dat mijn menu aangepast wordt */
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
  } /* hiermee bepaal ik waar het menu komt te staan en hoe de tekst eruit komt te zien /*
  
  li a:hover:not(.active) { 
    background-color: deepskyblue;
  } /* hiermee geef ik de kleur van de knoppen van mijn menu aan ook als je erover heen gaat */
  
  .active {
    background-color: #049faa;
  } /* hiermee geef ik de kleur van de knoppen van mijn menu aan ook als je erover heen gaat */
  
  p {
    border-style: double;
  } /* hiermee zet ik een rand om mijn tekst heen */

  footer {
    text-align: center;
    padding: 3px;
    background-color: navy;
    color: white;
  } /* Hiermee bepaal ik de plek, kleur en en achtergrond kleur van mijn footer */

  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}