body {
    background-color: rgb(240, 230, 130);
  }
  
  h1 {
    color: black;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  p.one {
    border-style: solid;
    border-color: rgb(41, 203, 0);
  }